
<div class="container" style="background: rgb(16, 166, 192);">
    <h1 style="text-align: center;">Welcome to Test Section</h1>
</div><br><br><br>
<div class="container">
<h2 style="color: rgba(22, 24, 22, 0.815);">Click the icon to take the Test</h2></div><br><br>
<div class="container"  style="background: rgba(214, 238, 126, 0.274);">
    <div class="row"> 
    <div class="col mb-3 mb-3" style="text-align: center;">
        <figcaption><h4>Take Angular Test</h4></figcaption><br>
        <a href="question" ><img src="assets/image/angular.png" alt="angular_logo"  /></a>
</div>

<div class="col mb-3 mb-3" style="text-align: center;">
    <figcaption><h4>Take Java Test</h4></figcaption><br>
    <a href="javaquestion" ><img src="assets/image/java.png" alt="java_logo" /></a>
</div>
<div class="col mb-3 mb-3" style="text-align: center;">
    <figcaption><h4>Take HTML Test</h4></figcaption><br>
 <a href="htmlquestion"><img src="assets/image/html.png" alt="html_logo" /></a>
</div>

<div class="col mb-3 mb-3" style="text-align: center;">
    <figcaption><h4>Take Javascript Test</h4></figcaption><br>
    <a href="javascriptquestion" ><img src="assets/image/javascript.png" alt="javascript_logo" /></a>
   </div>
</div>
